/*
    Comfortaa
    Kanit
*/

/*
    to do :
    update the navbar hover color(possible rewrite)
*/

@font-face{
    font-family: NaniFont-Light;
    src: url(nanifont-master/ttf/NaniFont-ExtraLight.ttf);
}

/* solid header */
.header-solid {
    display: block;
    top: 0;
    right: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    height: 100px;
    transition: all 0.7s ease-in-out;

}

/* header */
p {
    margin-top: 20px;
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
}

main {
    padding-top: 0;
    background-color: #f3f3f3;
}

body {
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    font-family: NaniFont-Light;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: block;
    padding-right: 50px;
    padding-left: 40px;
    margin: 20px 0;
    border-right: 3px solid white;
    text-shadow: 2px 2px 8px #111;
}

.header {
    display: block;
    top: 0;
    right: 0;
    left: 0;
    /*position: fixed;*/
    background-color: rgba(0, 0, 0, 0.782);
    width: 100%;
    height: 100px;
    z-index: 1000;
    transition: all 0.7s ease-in-out;
}

header nav{
    justify-content: center;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}

header nav ul li {
    padding-right: 30px;
    list-style: none;
    line-height: 100px;
}

header nav ul li a {
    padding-left: 30px;
    font-family: NaniFont-Light;
    font-size: 20px;
    display: block;
    text-shadow: 2px 2px 8px #111;
}

header nav ul li a:hover {
    color: rgb(225, 124, 31);
}

.dropdown-container{
    
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}



header nav ul li .dropdown-container li{
    line-height: 50px;
    padding-left: 0px;
}

.dropbtn:hover .dropdown-container{
    display: block;
}

/* banner */

.black-back {
    background-color: #ccc;
}

.banner {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(img/woodenBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: table;
}

.banner .container {
    display: table-cell;
    padding-top: 15vh;
}

.banner .container h1 {
    font-family: NaniFont-Light;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.banner h2{
    font-family: NaniFont-Light;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color:#fff;
    text-align: center;
    text-shadow: 3px 3px 8px #111;
}

/* Form */
.ordform{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main{
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 15px 15px

}

form{
    padding: 10px;
    align-self: center;
}

#name{
    width: 100%;
    height: 100px;
}

.name{
    margin-left: 25px;
    margin-top: 0px;
    width:125px;
    color: white;
    font-size: 18px;
    font-family: NaniFont-Light;
}

.firstname{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.lastname{
    position: relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.firstlabel{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px;
    top: -45px;
    font-family: NaniFont-Light;
}

.lastlabel{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 175px;
    top: -45px;
    font-family: NaniFont-Light;
}

.company, .email, .phonenumber{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color:#555;
}

.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 580px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16;
    color: #555;
    outline: none;
    overflow: hidden;
}

option, select{
    font-size: 16px;
    font-family: NaniFont-Light;
}

button{
    background-color: #ee274b88;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid rgba(107, 0, 0, 0.781);
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25;
    font-family: NaniFont-Light;
    font-size: 18px;
}

button :hover{
    background-color: rgb(0, 0, 0);
}

/*
@media only screen and (min-width: 1500px){
    .banner {
        width: 90%;
    }
}
*/
main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(img/SteamBuns.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: table;
}

main h3 {
    padding-top: 10px;
    text-align: center;
    background-color: rgba(255, 132, 0, 0.42);
    color: white;
    font-family: NaniFont-Light;
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
}


/* footer */
footer {
    width: 100%;
    height: fit-content;
    background-color: #111;
    /* display: flex; */
}

.information {
    padding-top: 50px;
}

.information h3 {
    color: white;
    font-family: NaniFont-Light;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.Social-media {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.Social-media a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Social-media a h4 {
    padding-top: 10px;
    font-family: NaniFont-Light;
    line-height: 36px;
    font-size: 22px;
}

